<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div th:replace="layout :: header"></div>

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Danh sách sản phẩm</h3>
                    </div>

                    <div class="title_right">
                        <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                            <div class="input-group">
                                <input class="form-control" placeholder="Tìm kiếm..." type="text">
                                <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row" style="display: block;">
                    <div class="col-md-12 col-sm-12  ">
                        <div class="x_panel">
                            <div class="x_title">
<!--                                href="#" th:href="@{/products/add}"-->
                                <a class="btn btn-primary btn-sm" href="#" th:href="@{/admin/products/add}">
                                    <i class="fa fa-folder"></i>
                                    Thêm sản phẩm
                                </a>
                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">
                                <th:block th:if="${#lists.isEmpty(product)}">
                                    <h5>No products</h5>
                                </th:block>

                                <th:block th:unless="${#lists.isEmpty(product)}">
                                    <div class="table-responsive">
                                        <table class="table table-striped jambo_table bulk_action">
                                            <thead>
                                            <tr class="headings">
                                                <th>
                                                    <input class="flat" id="check-all" type="checkbox">
                                                </th>
                                                <th class="column-title a-center">Nhóm sản phẩm</th>
                                                <th class="column-title a-center">Mã sản phẩm</th>
                                                <th class="column-title a-center">Tên sản phẩm</th>
                                                <th class="column-title a-center">Đơn giá</th>
                                                <th class="column-title a-center">Hình ảnh</th>
                                                <th class="column-title a-center"><span>Hành động</span>
                                                </th>
                                                <th class="bulk-actions" colspan="7">
                                                    <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions (
                                                        <span class="action-cnt"> </span> ) <i
                                                                class="fa fa-chevron-down"></i></a>
                                                </th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <tr class="even pointer" th:each="i : ${product}">
                                                <td class="a-center ">
                                                    <input class="flat" name="table_records" type="checkbox">
                                                </td>
                                                <td class="a-center" th:text="${i.category.name}"></td>
                                                <td class="a-center" th:text="${i.id}"></td>
                                                <td class="a-center" th:text="${i.name}"></td>
                                                <td class="a-center" th:text="${i.price} / 1000 + '.000 Đ'"></td>
                                                <td><img th:height="60px" th:src="@{${i.imageUrl}}" th:width="60px">
                                                </td>
                                                <td>
                                                    <a class="btn btn-info btn-sm"
                                                       th:href="@{/admin/products/{id}/edit(id=${i.id})}">
                                                        <i class="fa fa-pencil"></i>
                                                        Sửa
                                                    </a>
                                                    <a class="btn btn-danger btn-sm"
                                                       th:href="@{/admin/products/{id}/delete(id=${i.id})}">
                                                        <i class="fa fa-trash-o"></i>
                                                        Xoá
                                                    </a>
                                                </td>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /page content -->
            </div>
        </div>
    </div>
</div>
<!-- footer content -->
<footer th:replace="layout :: footer"></footer>
<!-- /footer content -->
</body>
</html>
